/* CSS link */

* {
    box-sizing: border-box;
  }

/* body  */
body {
    background-color: grey;
    
}

header {
    text-align: center;
    width: 100%;
    float:none;
}

.body-text {
    background-color: lightcoral;
    box-shadow: 10px 10px;
    color:aquamarine;
    display:block;
    text-decoration:none;
    text-align: center;
    font-weight: bold;
    width: 75%;
    float: left;
}

.source {
    position: absolute;
   
   
}

.paragraph {
    text-align: center;
    font-size: 30px;
    width: 20%;
    height: 40%;

}



/* Back top top */
    html {
        scroll-behavior: smooth;
    }
    .back-to-top 
    {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        border-radius: 1.0rem;
        padding: 0.5rem;
        text-decoration: none;
        transition: 0.2s ease-out;
    }

    .back-to-top span 
    {
        color:whitesmoke;
        font-size: 3rem;
        transition: 0.2s ease-out;
    }

    .back-to-top:hover 
    {
        background-color:tomato;
    }   

    .back-to-top:hover span 
    {
        transform: translateY(-4px);
    }
    footer{
        text-align: center;
    }

    .button{
        text-align: center;

    }


        
